{% extends 'base.html' %}
{%block title %}Contact{% endblock %}
{% block content %}
<h1>About me</h1>
    <div id="text">
        <p>I am 25 years old international teritorial studies graduate with two years of experience in Python, Django, JavaScript and React.<br>
        In 2025 I absolved requalification course on developement of www aplications in Python.</p>
        <p>I am founding member of a metalcore band Jake Loves Space. I acompany guitar and second vocals.<br>
        Combining hardhitting riffs, harsh vocals and melodic choruses with synths and electronic element.<br>
    </p>

    
    </div>
<h1>Contact</h1>

<seciton id="text">
    <p>Email: myemail@myemail.cz</p>
    <p>Phone: 123456789</p>
    <p><a href="https://www.jakelovesspace.com" target="_blank">jakelovesspace.com</a></p>
</seciton>
    
{% endblock %}