{% extends 'base.html' %}
{%block title %}Contact{% endblock %}
{% block content %}
<section class="content">
    <h1>About me</h1>
        <div id="text">
            <p>I am 25 years old international teritorial studies graduate with two years of experience in Python, Django and SQL.<br>
            In 2025 I absolved requalification course on developement of www aplications in Python.</p>
            <p>I am used to working with databases, bulk data operations and statistical analysis.<br>
            My masters thesis focused on demographic ageing in central Europe, calculated by cluster analysis, Ossan triangle analysis and time series analysis.<br>
            For visualization of Ossan triangle I used my own Python code using Pandas and PlotLy (available on <a href="https://gitlab.com/JAMAN255/ossan-triangle-code">GitLab</a>).</p>
            <p>I am founding member of a metalcore band Jake Loves Space. I acompany guitar and second vocals.<br>
            Combining hardhitting riffs, harsh vocals and melodic choruses with synths and electronic element.<br>
        </p>
    
        
        </div>
    <h1>Contact</h1>

    <section id="text">
        <p>Email: manjakub@seznam.cz</p>
        <p>Phone: +420734672861</p>
        <p><a href="https://www.jakelovesspace.com" target="_blank">jakelovesspace.com</a></p>
    </section>
</section>   
{% endblock %}