{% extends 'base.html' %}
{%block title %}Contact{% endblock %}
{% block content %}
<section class="content">
    <h1>About me</h1>
        <div id="text">
            <p>Data analyst with quantitative research foundation seeking to apply statistical expertise and modern analytics tool to real world outcomes. 
                Completed intensive full-stack development bootcamp (200+ hours, ITnetwork 2025) mastering Python, Django, REST APIs and responsive frontends.<br> 
                Masters’s research in demographic analysis using cluster analysis, time series modeling, and statistical visalization demonstrates ability to extract insight from complex datasets and communicate findings to steakholders. 
                For visualization of Ossan triangle I used my own Python code using Pandas and PlotLy (available on <a href="https://gitlab.com/JAMAN255/ossan-triangle-code">GitLab</a>). 
                <br>Bilingual technical and domain expertise (English C1, German B1) positions me to contribute immediately to international data initiatives. 
                Commited to replacing data ambiguity with actionable insights. 
            <br>Combining technical skills with analytical background from International Teritorial Studies master's program (expected 2026) specializing in data analysis and GIS. 
            <br>Seeking data analysis backend development role to leverage Python expertise and systematic problem-solving approach refined through 5+ years of collaborative project work with hands-on experience with Power BI including data cleaning, basic data modeling.
            </p>
            <p>Used to working with databases, bulk data operations and statistical analysis.<br>
            </p>
            <br>
            <h3>Hobbies</h3>
            <p>I am founding member of a metalcore band Jake Loves Space. I acompany guitar and second vocals.<br>
            Combining hardhitting riffs, harsh vocals and melodic choruses with synths and electronic elements.<br>
        </p>
    
        
        </div>
    <h1>Contact</h1>

    <section id="text">
        <p>Email: manjakub@seznam.cz</p>
        <p>Phone: +420734672861</p>
        <p><a href="https://www.jakelovesspace.com" target="_blank">jakelovesspace.com</a></p>
    </section>
</section>   
{% endblock %}