{% extends 'base.html' %}

{% block title %}My Coding Site Portfolio{% endblock %}

{% block content %}
<section class="content">
<H1>My coding portfolio site </H1>
<div id="text">
<P >This is only place except my GitLab profile, where I showcase my coding projects. </br>
Consider this my digital CV/insight in my coding mind.</P>
<p>If you would like to see my projects, go to <a href="/projects"><b>Projects</b></a><br>
If you would like to learn more about me, go to <a href="/contact"><b>About Me</b></a></p>
</div>
</section>

{% endblock %}