{% extends 'base.html' %}
{%block title %}Projects{% endblock %}
{% block content %}
    <h1>Projects</h1>
    <section class="prjct">
        <div class="prjct-list-a">
            <ul >
                <br>
                <li><a href="/calculator/">Web calculator in Python</a></li><br>
                <li><a href="/calculator/index_calculator/">Demographic Index Calculator</a></li><br>
                <li><a href="/insurance/">Insurance App using Django REST Api</a></li><br>
                <li><a href="https://gitlab.com/JAMAN255/console_insurance.git">Console insurance app in Python</a></li><br>
                <li><a href="/todos">Todo app</a></li><br>
            </ul>
            
        </div>  

        <div class="prjct-list">
            <ul>
                <li>Band</li>
                <li>School</li>
            </ul>
        </div>
    </section>
{% endblock %}