{% extends 'insurance_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Insurance List{% endblock %}


{% block content %}
<div class="row mb-4">
    <div class="col-md-8">
        <h1>Insurance List</h1>
    </div>
    <div class="col-md-4 text-end">
        <a href="{% url 'insurance_form' %}" class="btn btn-primary">+ Add New Insurance</a>
    </div>
</div>

{% if insurances %}
    <div class="row">
        <ul>
            {% for i in insurances %}
                <li>{{ insurance.name }} - {{ insurance.description }}</li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="alert alert-info text-center" role="alert">
        <h4>No Insurances yet!</h4>
        <p>Create your first Insurance to get started.</p>
        <a href="{% url 'insurance_form' %}" class="btn btn-primary mt-2">Create Insurance</a>
    </div>
{% endif %}        
    

{% endblock %}